.background {
  width: 100%;
  min-height: 70rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../../assets/images/CA_GOLD-MTN_HI_RES.jpg");
  background-size: cover;
  background-position: 100% 0%;
  background-attachment: fixed;
}

.background-overlay {
  width: 100%;
   min-height: 70rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.671);
}

.title {
  font-size: 3rem;
  margin-top: 15rem;
}

.orders-container {
  margin: 4rem 0;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.add-to-cart-btn {
  height: 2rem;
  width: 8rem;
  display: flex;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: var(--main-color-1);
  color: white;
  cursor: pointer;
}
