.california {
    padding-top: 10rem;
    min-height: 100vh;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.california h1 {
    margin: 4rem 0 2rem 0;
    font-size: 3rem;
}

/* RESPONSIVE-CONTAINER - single-image - 100% */
.responsive__container-full {
  width: 98%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0rem;
}

.responsive__container-full img {
  width: 100%;
  height: auto;
}

/* Custom -Three vertical image*/
.responsive-container__triple-vert {
  width: 98%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.responsive-container__triple-vert img {
  width: 23%;
}

/* Custom -Three vertical image*/
.custom-container__triple-vert-1 {
  width: 98%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom-container__triple-vert-1__item-1 {
  width: 30.25%;
}

.custom-container__triple-vert-1__item-2 {
  width: 37.75%;
}
.custom-container__triple-vert-1__item-3 {
  width: 30.25%;
}

/* Custom -Three vertical image*/
.custom-container__triple-vert-2 {
  width: 98%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom-container__triple-vert-2__item-1 {
  width: 32%;
}

.custom-container__triple-vert-2__item-2 {
  width: 33%;
}
.custom-container__triple-vert-2__item-3 {
  width: 33%;
}


@media (max-width: 40em) {
  .california {
    padding-top: 0rem;
  }

  /* Custom -Three vertical image*/
.custom-container__triple-vert-1 {
  width: 98%;
  flex-direction: column;
}

.custom-container__triple-vert-1__item-1 {
  width: 100%;
  margin-bottom: 1rem;
}

.custom-container__triple-vert-1__item-2 {
  width: 100%;
  margin-bottom: 1rem;
}
.custom-container__triple-vert-1__item-3 {
  width: 100%;
  margin-bottom: 1rem;
}

/* Custom -Three vertical image*/
.custom-container__triple-vert-2 {
  flex-direction: column;
}

.custom-container__triple-vert-2__item-1 {
  width: 100%;
  margin-bottom: 1rem;
}

.custom-container__triple-vert-2__item-2 {
  width: 100%;
  margin-bottom: 1rem;
}
.custom-container__triple-vert-2__item-3 {
  width: 100%;
  margin-bottom: 1rem;
}
}