.cart {
    padding-top: 10rem;
    min-height: 100vh;
    width: 100%;
    background-color: var(--color-bg-tan);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.cart h1 {
    margin-top: 4rem;
    font-size: 3rem;
    color: black;
}

.cart-empty {
    color: black;
    position: absolute;
    top: 10rem;
    font-size: 2rem;
   
}

.cart-container {
    margin-top: 4rem;
    margin-right: 1.5rem;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
}

.cart-item__container {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-total__container {
    width: 35%;
    border-radius: 2px;
    background-color: var(--color-grey-dark);
}

.cart-total__info {
    margin: 2rem 1rem 5rem 1rem;
}

.cart-total__container h2 {
    font-size: 3rem;
    margin-bottom: 5rem;
}

.cart-total__container h3 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.cart-total__container button {
    
    width: 20rem;
    height: 5rem;
    font-size: 2.5rem;
    font-family: "Barlow", sans-serif, Arial, Helvetica, sans-serif;
    cursor: pointer;
}

@media (max-width: 40em) {
  .cart-container {
      margin-right: 0rem;
    flex-direction: column;
    align-items: center;
  }

  .cart-total__container {
      width: 100%;
       display: flex;
      justify-content: center; 
     align-items: center;
  }

  .cart-item__container {
      width: 100%;
  }
}