.contact {
    padding-top: 10rem;
    position: relative;
    background-color: chartreuse;
    background-image: url('../../assets/images/WA_RAINER-PINK_lowRes.jpg');
    background-size: cover;
    background-position: 70% 50%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact h1 {
    color: white;
    font-size: 5rem;
    margin-top: 5rem;
}

.contact p {
    color: white;
     margin-top: 2rem;
}

/* .form {
    position: absolute;
    top: 12rem;
    width: 60%;
    padding: 5rem;
    min-height: 45rem;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.523);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
} */

.form {
    background-color: rgba(5, 5, 5, 0.608);
    color: white;
    border-radius: 5px;
    width: 50%;
    min-height: 55rem;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin-bottom: 4rem;
}

.form__group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    width: 100%;
}

.form__group label {
    color: white;
    font-size: 2rem;
}

.form__message {
    height: 20rem;
    min-width: 100%;
}

.form__input--first-name {
    width: 30%;
}

.form__input--last-name {
    width: 45%;
}

.form__input--email {
    width: 30%;
}

.form__input--subject {
    width: 45%;
}

.form button {
    margin: auto 0;
    font-size: 2rem;
    text-transform: uppercase;
    background-color: black;
    color: white;
    border: 1px solid white;
    height: 6rem;
    cursor: pointer;
    transition: all 200ms;
}

.form button:hover {
    color: var(--color-secondary-green);
    border: 1px solid var(--color-secondary-green);
}


.success-message {
    font-size: 2.5rem;
    margin-top: 3rem;
}

.ok-button {
    margin-top: 5rem;
    width: 100%;
    height: 5rem;
    cursor: pointer;
    background-color: black;
    color: white;
    border: 1px solid white;
    transition: all .2s ease-in;
}

.ok-button:hover {
    color: var(--color-secondary-green);
    border: 1px solid var(--color-secondary-green);
}

@media (max-width: 55em) { 
    .form {
        width: 80%;
    }
}


@media (max-width: 40em) {
    .form {
        width: 90%;
    }
}