.home-page {
  position: relative;
  width: 100%;
  background-color: white;
  min-height: 100vh;
}

.header{
  z-index: 1;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.feature--hidden {
   opacity: 0;
   transform: translateY(8rem);
 }

 /* FEATURE 1 and 3   */

.feature-section {
  /* position: relative;
  top: -16rem;
  z-index: 10; */
  /* margin-top: 15rem; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 255, 255);
}

.feature-box {
  margin-bottom: 20rem;
  padding-top: 8rem;
  width: 90%;
  min-height: 30rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: transform 1s, opacity 1s;
}

.feature-box__text {
  width: 30%;
}

.feature-box__text h3 {
  font-size: 2rem;
  font-weight: 100;
}

.feature-box__text h1 {
  margin-top: 2rem;
  font-size: 3rem;
  font-weight: 200;
  color: var(--color-secondary-green);
}

.feature-box__text p {
  font-size: 1.7rem;
  font-weight: 100;
  margin: 3rem 0;
}

.feature-box__link {
  font-family: "Barlow", sans-serif, Arial, Helvetica, sans-serif;
  width: 16rem;
  height: 5rem;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  font-size: 1.75rem;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.feature-box__link:hover {
  color: var(--color-primary-green);
  border: 1px solid var(--color-primary-green);
  background-color: black;
}

.arrow {
  color: black;
  transition: all .2s ease-in;
}

.arrow-2 {
  color: white;
  transition: all .2s ease-in;
}

.feature-box__link:hover .arrow {
  color: var(--color-primary-green);
  transform: translateX(10px);
}

.feature-box__link:hover .arrow-2 {
  color: var(--color-primary-green);
  transform: translateX(10px);
}

/* .arrow:hover {
  color: var(--color-primary-green);
  transform: translateX(15px);
} */


.feature-box__text button {
  color: black;
  border: 1px solid black;
}


.feature-box__text button:hover {
  color: var(--color-primary-green);
  border: 1px solid var(--color-primary-green);
  background-color: black;
}

.feature-box__image {
  width: 65%;
  height: 55rem;
  background-image: url('../../assets/images/CA-GannetLakePano-699kb-lowRes.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.feature-box__image-2 {
  width: 70%;
  height: 50rem;
  background-image: url('../../assets/images/WA_SPECTACLE-LAKE_PANO_lowRes.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.feature-box-2 {
  width: 95%;
  height: 60rem;
  background-color: aqua;
   margin-bottom: 20rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-image: url('../../assets/images/CA-Iceberg-Lake-538KB_lowRes.jpg');
  background-position: 65% 50%;
  background-size: cover;
  transition: transform 1s, opacity 1s;
}

.feature-box-2__text {
  width: 25%;
  margin-left: 5rem;
}

.feature-box-2__text h3 {
  font-size: 2rem;
  font-weight: 100;
  color: white;
}

.feature-box-2__text h1 {
  margin-top: 2rem;
  font-size: 3rem;
  font-weight: 200;
  color: var(--color-secondary-green);
}

.feature-box-2__text p {
  font-size: 1.7rem;
  font-weight: 100;
  margin: 2rem 0;
  color: white;
}

.trigger {
  width: 100%;
  height: .1rem;
}

.gallery-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 1s, opacity 1s;
  background-color: white;
}

.gallery__grid {
  width: 98%;
  display: grid;
  grid-template-columns: repeat(12 1fr);
  gap: 1rem;
  /* transition: transform 1s, opacity 1s; */
}

.gallery__grid--item {
  background-size: cover;
  background-position: 50% 50%;
}

.gallery__grid--item-1 {
  background-image: url('../../assets/images/CA_THOUSAND-ISLAND-LAKE_PANO_lowRes.jpg');
  height: 54rem;
  grid-column: 1 / 13;
}

.gallery__grid--item-2 {
  background-image: url('../../assets/images/WA_RAINER-PINK_lowRes.jpg');
  height: 58rem;
  grid-column: 1 / 7;
}

.gallery__grid--item-3 {
  background-image: url('../../assets/images/ID_MCGOWAN-PEAK_lowRes.jpg');
  height: 58rem;
  grid-column: 7 / 13;
}

.gallery__grid--item-4 {
  background-image: url('../../assets/images/MO_OLLIE-SUNSET_VERT__lowRes.jpg');
  height: 60rem;
  grid-column: 1 / 5;
}

.gallery__grid--item-5 {
  background-image: url('../../assets/images/WA_RAINIER-EAST-VERT_lowRes.jpg');
  height: 60rem;
  grid-column: 5 / 9;
}

.gallery__grid--item-6 {
  background-image: url('../../assets/images/ID_ALICE-ALPINE-VERT.jpg');
  height: 60rem;
  grid-column: 9 / 13;
}

.gallery__grid--item-7 {
  background-image: url('../../assets/images/WY_ISLAND-LAKE-DAWN_lowRes.jpg');
  height: 60rem;
  grid-column: 1 / 13;
}

.gallery__grid--item-8 {
  background-image: url('../../assets/images/WA_GOAT-ROCKS_olSNOWY_pano_lowRes.jpg');
  height: 60rem;
  grid-column: 1 / 13;
}

.gallery__grid--item-9 {
  background-image: url('../../assets/images/WA_RANIER_WEST-PANO_lowRes.jpg');
  height: 60rem;
  grid-column: 1 / 13;
}

.gallery__grid--item-10 {
  background-image: url('../../assets/images/ID_TWIN-LAKE_VERT_lowRes.jpg');
  height: 60rem;
  grid-column: 1 / 6;
}

.gallery__grid--item-11 {
  background-image: url('../../assets/images/WA_BIGHEART_LAKE_lowRes2.jpg');
  height: 60rem;
  grid-column: 6 / 13;
}

.gallery__grid--item-12 {
  background-image: url('../../assets/images/WA_GLACIER-PEAK-PANO_lowRes.jpg');
  height: 60rem;
  grid-column: 1 / 13;
}


.test {
  width: 100%;
  height: 40rem;
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20rem;
  transition: transform 1s, opacity 1s;
}

@media (max-width: 40em) {
  .feature-box {
    flex-direction: column-reverse;
    width: 100%;
  }

  .feature-box__text {
  width: 90%;
  margin-top: 2rem;
}


  .feature-box__image {
  width: 98%;
  height: 45rem;
}

.feature-box__image-2 {
  width: 98%;
  height: 40rem;
}

.feature-box-2 {
  height: 50rem;
  background-image: url('../../assets/images/OR_FRAZIER-LAKE_lowRes.jpg');
  background-position: 50% 50%;
}

.feature-box-2__text {
  width: 45%;
  margin-left: 2rem;
}

.gallery__grid--item-1 {
  height: 25rem;
}

.gallery__grid--item-2 {
  grid-column: 1 / 13;
  height: 35rem;
}

.gallery__grid--item-3 {
  grid-column: 1 / 13;
  height: 40rem;
}

.gallery__grid--item-4 {
  grid-column: 1 / 13;
  height: 60rem;
}

.gallery__grid--item-5 {
  grid-column: 1 / 13;
  height: 60rem;
}

.gallery__grid--item-6 {
  grid-column: 1 / 13;
  height: 60rem;
}

.gallery__grid--item-7 {
  height: 30rem;
}

.gallery__grid--item-8 {
  height: 25rem;
}

.gallery__grid--item-9 {
  height: 30rem;
}

.gallery__grid--item-10 {
  grid-column: 1 / 13;
  height: 60rem;
}

.gallery__grid--item-11 {
  grid-column: 1 / 13;
  height: 26rem;
}

.gallery__grid--item-12 {
  height: 20rem;
}

}
