.washington {
    min-height: 100vh;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.washington h1 {
    margin-top: 4rem;
    font-size: 3rem;
}

.grid {
    margin-top: 5rem;
    width: 98%;
    display: grid;
    grid-template-columns: repeat(12 1fr);
    gap: 1rem;
}

.grid__item img {
 width: 100%;
 height: auto;
}

/*

.grid__item--1 {
    height: 45rem;
    grid-column: 1 / 12;
    background-image: url(/public/img/WA_St.HELENS_SUNRISE_lowRes5.jpg);
}

.grid__item--2 {
    height: 50rem;
    grid-column: 1 / 12;
    background-image: url(/public/img/WA_RANIER_WEST-PANO_lowRes.jpg);
}
.grid__item--3 {
    height: 40rem;
    grid-column: 1 / 12;
    background-image: url(/public/img/WA_GLACIER-PEAK-PANO_lowRes.jpg);
}
.grid__item--4 {
    height: 40rem;
    grid-column: 1 / 12;
    background-image: url(/public/img/WA_SPECTACLE-LAKE_PANO_lowRes.jpg);
}
.grid__item--5 {
    height: 40rem;
    grid-column: 1 / 12;
    background-image: url(/public/img/WA_RANIER-EAST_lowRes-1.jpg);
}
.grid__item--6 {
    height: 40rem;
    grid-column: 1 / 12;
    background-image: url(/public/img/WA_GOAT-ROCKS_olSNOWY_pano_lowRes.jpg);
}
.grid__item--7 {
    height: 40rem;
    grid-column: 1 / 12;
    background-image: url(/public/img/WA_BIGHEART_LAKE_lowRes2.jpg);
}
.grid__item--8 {
    height: 40rem;
    grid-column: 1 / 12;
    background-image: url(/public/img/WA_RAINIER-TATOOSH-SUNRISE_lowRes.jpg);
}
.grid__item--9 {
    height: 40rem;
    grid-column: 1 / 12;
    background-image: url(/public/img/WA_ROBIN-LAKE_PANO_lowRes.jpg);
}

.grid__item--11 {
    height: 40rem;
    grid-column: 1 / 12;
    background-image: url(/public/img/WA_GOATROCKS-PCT-PANO_lowRes.jpg);
}

.grid__item--12 {
    height: 40rem;
    grid-column: 1 / 12;
    background-image: url(/public/img/WA_5-LEMAHS_lowRes.jpg);
}

.grid__item--13 {
    height: 40rem;
    grid-column: 1 / 12;
    background-image: url(/public/img/WA_ADAMS-TARN_PANO_lowRes.jpg);
}

.grid__item--14 {
    height: 40rem;
    grid-column: 1 / 12;
    background-image: url(/public/img/WA_SHUKSAN_lowRes.jpg);
}

.grid__item--15 {
    height: 40rem;
    grid-column: 1 / 12;
    background-image: url(/public/img/WA_BAKER-RIDGE_lowRes.jpg);
}

.grid__item--16 {
    height: 40rem;
    grid-column: 1 / 12;
    background-image: url(/public/img/WA_HELENS-TOUTLE_lowRes.jpg);
}

.grid__item--17 {
    height: 40rem;
    grid-column: 1 / 12;
    background-image: url(/public/img/WA_RAINIER-NORTH_lowRes.jpg);
}

*/
