.washington {
  padding-top: 10rem;
  min-height: 100vh;
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.washington h1 {
 margin: 4rem 0 2rem 0;
  font-size: 3rem;
}

/* RESPONSIVE-CONTAINER - single-image - 100% */
.responsive__container-full {
  width: 98%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0rem;
}

.responsive__container-full img {
  width: 100%;
  height: auto;
}

/* RESPONSIVE-CONTAINER - For 2 SONY a6400 images - portrait - landscape */
.custom-container__ranier {
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-container__ranier__item-1 {
  width: 67%;
  margin: 0.5rem;
}

.custom-container__ranier__item-2 {
  width: 30.25%;
  margin: 0.75rem;
}

/* RESPONSIVE-CONTAINER - For 2 SONY a6400 images - portrait - landscape */
.custom-container__maple-adams {
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-container__maple-adams__item-1 {
  width: 30.75%;
  margin: 0.5rem;
}

.custom-container__maple-adams__item-2 {
  width: 66.5%;
  margin: 0.75rem;
}

/* RESPONSIVE-CONTAINER - For 2 SONY a6400 images - portrait - landscape */
.custom-container__rainier-helens {
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-container__rainier-helens__item-1 {
  width: 57%;
  margin: 0.5rem;
}

.custom-container__rainier-helens__item-2 {
  width: 40%;
  margin: 0.75rem;
}

@media (max-width: 40em) {
  .washington {
    padding-top: 0rem;
  }

  /* RESPONSIVE-CONTAINER - For 2 SONY a6400 images - portrait - landscape */
.custom-container__ranier {
  flex-direction: column;
}

.custom-container__ranier__item-1 {
  width: 98%;
  
}

.custom-container__ranier__item-2 {
  width: 98%;
}

/* RESPONSIVE-CONTAINER - For 2 SONY a6400 images - portrait - landscape */
.custom-container__maple-adams {
  flex-direction: column;
}

.custom-container__maple-adams__item-1 {
  width: 98%;
}

.custom-container__maple-adams__item-2 {
  width: 98%;
}

/* RESPONSIVE-CONTAINER - For 2 SONY a6400 images - portrait - landscape */
.custom-container__rainier-helens {
  flex-direction: column;
}

.custom-container__rainier-helens__item-1 {
  width: 98%;
}

.custom-container__rainier-helens__item-2 {
 width: 98%;
}
}
