.cart-item {
  width: 90%;
  border-radius: 2px;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1rem;
  border: 1px solid var(--color-secondary-green);
  background: rgb(79,79,79);
background: linear-gradient(0deg, rgba(79,79,79,1) 0%, rgba(0,0,0,1) 100%);
}

.cart-item__image-container {
  display: flex;
  align-items: center;
}

.cart-item button {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 100px;
  border: none;
  background-color: white;
  cursor: pointer;
}

.cart-item img {
  height: 10rem;
  border: 5px solid white;
  width: auto;
}

.delete-button {
  margin-left: 0.5rem;
}

.amount-controls {
  width: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-item__text {
  color: white;
}

.total-price {
  color: white;
}

@media (max-width: 65em) {
  .cart-item {
  width: 95%;
}
}

@media (max-width: 50em) {
  .cart-item {
    width: 75%;
    min-height: 25rem;
    flex-direction: column;
  }

  .cart-item img {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .total-price {
    margin-bottom: 2rem;
  }
}
