.slider-container {
  position: relative;
  width: 100%;
  /* min-height: 90vh; */
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-slide {
  width: 100%;
  height: 90vh;
  transition: all 1s ease;
  animation: fadeIn 3s ease;
}

.header-slide--active {
  opacity: 1;
  transition: opacity 1s ease;
}

.header-slide--hidden {
  opacity: 0;
}

.header-slide-1 {
  background-image: url('../assets/images/ID_LUCILLE-LAKE_HI-RES.jpg');
  background-size: cover;
  background-position: 50% 50%;
}

.header-slide-2 {
  background-image: url('../assets/images/WA_St.HELENS_SUNRISE_lowRes5.jpg');
  background-size: cover;
  background-position: 50% 50%;
}

.header-slide-3 {
  background-image: url('../assets/images/WY_ISLAND-LAKE-DAWN_lowRes.jpg');
  background-size: cover;
  background-position: 60% 50%;
}

.header-slide-4 {
  background-image: url('../assets/images/MO_HIDDEN-LAKE_lowRes.jpg');
  background-size: cover;
  background-position: 60% 50%;
}

.header-slide-5 {
  background-image: url('../assets/images/OR_FRAZIER-LAKE_lowRes.jpg');
  background-size: cover;
  background-position: 50% 50%;
}

.header-slide-6 {
  background-image: url('../assets/images/ID_LOST-RIVER-RANGE_lowRes.jpg');
  background-size: cover;
  background-position: 60% 50%;
}

.header-slide-7 {
  background-image: url('../assets/images/WA_RAINER-PINK_lowRes.jpg');
  background-size: cover;
  background-position: 50% 50%;
}

.header-slide-8 {
  background-image: url('../assets/images/OR_GLACIER-LAKE_PANO_lowRes.jpg');
  background-size: cover;
  background-position: 50% 50%;
}

.header-slide-9 {
  background-image: url('../assets/images/OR_OLALLIE-BUTTE_lowRes.jpg');
  background-size: cover;
  background-position: 50% 50%;
}

.header-slide-10 {
  background-image: url('../assets/images/CA_EDIZA-LAKE_PANO_lowRes.jpg');
  background-size: cover;
  background-position: 50% 50%;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.slider-controls--hidden {
  opacity: 0;
  /* transform: translateY(8rem); */
}

.slider-controls {
  position: absolute;
  top: 30rem;
  z-index: 6666;
  /* bottom: -6rem; */
  width: 98%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: opacity 3s;
}

.slider-control-button {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-color: unset;
  color: white;
  border: 1px solid white;
  cursor: pointer;
  z-index: 10;
  transition: all 200ms ease-in;
}

.slider-control-button:hover {
 background-color: rgba(0, 0, 0, 0.351);
}

.dots-container {
  min-width: 20rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dot {
  margin: 0 .5rem;
  height: 1.75rem;
  width: 1.75rem;
  border-radius: 1000px;
  border: 1px solid black;
  background-color: white;
  cursor: pointer;
  transition: background-color .2s ease-in;
}

.active {
  background-color: var(--color-secondary-green);
}


@media (max-width: 40em) {
  .slider-container {
    min-height: 20rem;
  }

  .header-slide {
    height: 28rem;
  }

  .slider-controls {
    width: 95%;
  }

  .dot {
    height: 1.5rem;
    width: 1.5rem;
    margin: .1rem;
  }

}