:root {
  --color-primary-green: rgb(161, 218, 48);
  --color-secondary-green: rgb(60, 215, 60);
  --color-tertiary-green: rgb(53, 99, 53);
  --color-bg-tan: rgb(241, 238, 228);
  --color-grey-dark: rgb(63, 63, 63);
  --color-grey-light: rgb(136, 136, 136);
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  letter-spacing: 0.15rem;
}

body {
  box-sizing: border-box;
  font-family: "Barlow", sans-serif, Arial, Helvetica, sans-serif;
  line-height: 2.25rem;
}

button {
  font-family: "Barlow", sans-serif, Arial, Helvetica, sans-serif;
  border: 1px solid white;
  background-color: black;
  color: white;
  cursor: pointer;
}

h1 {
  font-weight: unset;
}

h2 {
  font-weight: unset;
}

h3 {
  font-weight: unset;
}

a {
  text-decoration: none;
}

p {
  font-size: 1.6rem;
}

input {
  font-size: 17px;
}


@media (max-width: 65em) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 40em) {
  html {
    font-size: 50%;
  }
}

.centered {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}