:root {
  --color-primary-green: rgb(161, 218, 48);
  --color-secondary-green: rgb(60, 215, 60);
  --color-bg-tan: rgb(241, 238, 228);
  --color-grey-dark: rgb(63, 63, 63);
  --color-grey-light: rgb(136, 136, 136);
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  letter-spacing: 0.15rem;
}

body {
  box-sizing: border-box;
  font-family: "Barlow", sans-serif, Arial, Helvetica, sans-serif;
  line-height: 2.25rem;
}

button {
  font-family: "Barlow", sans-serif, Arial, Helvetica, sans-serif;
}
a {
  text-decoration: none;
}

p {
  font-size: 1.6rem;
}

/* h1 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 1.6rem;
}  */

@media (max-width: 65em) {
  html {
  font-size: 55%;
}
}

@media (max-width: 40em) {
  html {
  font-size: 50%;
}
}
